<div ng-controller="MailboxController as mailboxCtrl">
  <div class="main-sidebar" ng-controller="MailListingController as mailListCtrl">
    <nav class="mail-list">
      <h1>Inbox <i class="fa fa-toggle-down"></i></h1>
      <ul ng-repeat="mail in mailboxCtrl.mailList">
        <li ng-class="{ 'active' : mailboxCtrl.isActive(mail.id) }"
        ng-click="mailboxCtrl.setActive(mail.id)">
          <div class="avatar">
            {{ getAvatar() }}
          </div>
          <div class="avatar-summary">
            <h2 class="mail-subject">{{ mail.subject }}</h2>
            <p class="mail-from">{{ mail.from }}</p>
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <div class="main-content" ng-controller="MailContentController as mailContentCtrl">
    <article class="mail-content">
      <header class="mail-header">
        <div class="avatar">
            {{ getAvatar() }}
        </div>
        <div class="avatar-summary">
          <h1 class="mail-from">Bob McBobberson <span class="mail-from-address">&lt;bob@bob.com&gt;</span></h1>
          <p class="mail-subject">Birthday Party Next Week</p>
          <p class="mail-to"><span class="label">To:</span> John Doe, Jane Doe</p>
        <p class="mail-date">July 27, 2014 at 10:42am</p>
        </div>
      </header>
      <div class="mail-body">
        <p>Hello there!</p>
        <p>Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>

        <p>Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </article>
  </div>
</div>
