<div class="main-sidebar" ng-controller="MailListingController as mailListCtrl">
  <nav class="mail-list">
    <h1>Inbox</h1>
    <ul ng-repeat="mail in mailListCtrl.mailList">
      <li ng-class="{ 'active' : mailListCtrl.isActive(mail.id) }"
      ng-click="mailListCtrl.setActive(mail.id)">
        <div class="avatar">
          E
        </div>
        <h2 class="mail-subject">{{ mail.subject }}</h2>
        <p class="mail-from">{{ mail.from }}</p>
      </li>
    </ul>
  </nav>
</div>

<div class="main-content" ng-controller="MailContentController as mailContentCtrl">
  <article>
    <h1>The Email</h1>
  </article>
</div>
