<h1>Settings</h1>

<form name="settingsForm" class="form"
   ng-submit="settingsCtrl.updateSettings()">
  <div class="form-group"
    ng-class="{ 
      'is-ok' : settingsForm.firstName.$valid,
      'is-dirty' : settingsForm.firstName.$dirty,
      'is-error' : settingsForm.firstName.$invalid
    }">
    <label for="firstName">First Name</label>
    <input name="firstName" ng-model="settingsCtrl.user.firstName" placeholder="First Name" type="text" required />
  </div>
  <div class="form-group"
    ng-class="{ 
      'is-ok' : settingsForm.lastName.$valid,
      'is-dirty' : settingsForm.lastName.$dirty,
      'is-error' : settingsForm.lastName.$invalid
    }">
    <label for="lastName">Last Name</label>
    <input name="lastName" ng-model="settingsCtrl.user.lastName" placeholder="Last Name" type="text" required />
  </div>
  <div class="form-group" 
    ng-class="{ 
      'is-ok' : settingsForm.email.$valid,
      'is-dirty' : settingsForm.email.$dirty,
      'is-error' : settingsForm.email.$invalid
    }">
    <label for="email">Email</label>
    <input name="email" ng-model="settingsCtrl.user.email" placeholder="Email" type="email" required />
  </div> 
  <div class="form-button-group">
    <button type="submit" class="btn btn-primary" ng-disabled=" settingsForm.$pristine || settingsForm.$invalid">Update</button>
  </div>

</form>