*, *:before, *:after {
  @include box-sizing(border-box);
}
body {
  background-color: $white;
  line-height: 1.4;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  &:hover {
    border-bottom: 0.125em solid;
  }
}
