.mail-list {
  h1 {
    text-transform: uppercase;
    font-size: 1em;
    color: lighten($gray,30%);
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    cursor: pointer;
    padding: 0.5em 0.5em 0.25em;
    line-height: 1;
    border-top: 0.125em solid darken($white, 5%);
    &.active {
      background-color: $red;
      .mail-subject {
        color: $white;
      }
      .mail-from {
        color: lighten($red, 20%);
      }
      .avatar {
        background-color: lighten($red, 20%);
        color: $red;
      }
    }
  }
  .mail-subject {
    font-size: 1em;
    margin: 0;
  }
  .mail-from {
    margin: 0.25em 0;
    color: $color-gray-light;
  }
}